body {
	font-size: 14px;
	font-family: Corbel;
	padding: 0;
	margin: 0;
}

body #root {
	width: 350px;
	margin: 0;
	padding: 0;
	border-top: 3px solid #000;
	border-left: 3px solid #000;
	border-top-left-radius: 15px;
	margin: 3px 5px;
	text-align: center;
	width: 375px;
	height: 290px;
}

.widget {
	background: rgb(203,247,190);
	background: -moz-linear-gradient(top,  rgba(203,247,190,1) 0%, rgba(203,247,190,1) 14%, rgba(229,217,110,1) 60%, rgba(229,217,110,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(203,247,190,1)), color-stop(14%,rgba(203,247,190,1)), color-stop(60%,rgba(229,217,110,1)), color-stop(100%,rgba(229,217,110,1)));
	background: -webkit-linear-gradient(top,  rgba(203,247,190,1) 0%,rgba(203,247,190,1) 14%,rgba(229,217,110,1) 60%,rgba(229,217,110,1) 100%);
	background: -o-linear-gradient(top,  rgba(203,247,190,1) 0%,rgba(203,247,190,1) 14%,rgba(229,217,110,1) 60%,rgba(229,217,110,1) 100%);
	background: -ms-linear-gradient(top,  rgba(203,247,190,1) 0%,rgba(203,247,190,1) 14%,rgba(229,217,110,1) 60%,rgba(229,217,110,1) 100%);
	background: linear-gradient(to bottom,  rgba(203,247,190,1) 0%,rgba(203,247,190,1) 14%,rgba(229,217,110,1) 60%,rgba(229,217,110,1) 100%);
	border: 1px solid #000;
	border-radius: 5px;
	margin-left: 25px;
	width: 260px;
	height: 175px;
	padding: 10px 15px;
	position: relative;
	top: -5px;
}

#root h1 {
	position: relative;
	left: -30px;
}

ul {
	display: none;
	list-style-type: none;
}

input {
	margin: 2px -10px;
	width: 160px;
	height: 25px;
	position: relative;
	right: -15px;
	border: 3px inset #CBF7BE;
	border-radius: 5px;
	text-align: center;
	font-style: italic;
	color: #000;
	background: transparent;
}

label {
	margin: 0;
	padding: 0;
	font-weight: 700;
	position: relative;
}

::-webkit-input-placeholder {
   color: #000;
}

:-moz-placeholder { /* Firefox 18- */
   color: #000;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #000;  
}

:-ms-input-placeholder {  
   color: #000;  
}

.dropdown {
	display: inline-block;
	margin: 0 10px;
}