#wrapper {
	width: 960px;
	font-family: Constantina, Georgia, 'Nimbus Roman No9 L', serif;
	font-size: 16px
}

img {
	display: none;
	width: 500px;
	height: 260px;
}

.content {
	display: none;
	left: 170px;
	top: 0;
}

.menu, .sub-menu {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.menu > li {
	text-align: center;
	border-radius: 15px;
	margin-bottom: 10px;
	background: #B6FF00;
	width: 170px;
	height: 38px;
	position: relative;
}

.menu>li>a {
	position: relative;
	top: 9px;
}

.sub-menu li{
	background: #008000;
	height: 60px;
	width: 540px;

	border-radius: 10px;
	margin-bottom: 10px;
}

.content {
	position: absolute;
}

.menu > li:hover .content {
	display: block;
}

.menu > li:hover .sub-menu li:hover {
	height: 330px;
}

.sub-menu li:hover img {
	display: block;
	position: relative;
	left: 20px;
	top: 20px;
}

.sub-menu:hover {
	display: block;
}

.sub-menu a{
	position: relative;
	top: 15px;
}