body {
	background-color: #999999;
	color: #FFF;
	font-size: 20px;
}

#header {
	font-size: 2.9em;
	text-align: center;
}

.nav-item {
	text-decoration: none;
	color: #FFF;
}

#nav-list {
	text-align: center;
	list-style-type: none;
}

#lighter-nav-item {
	background-color: #DCDCDC
}

#underlined-nav-item {
	text-decoration: underline;
}

.article-text, .additional-info-to-article {
	color: #000000;
}

.additional-info-to-article {
	font-size: 1em;
}

#footer {
	text-align: center;
	color: #000000;
}