html, body {
    font-family: 'Segoe UI', 'Segoe UI Web', 'Segoe UI Symbol', 'Helvetica Neue', 'BBAlpha Sans', 'S60 Sans', Arial, sans-serif;
    background-color: #FFFFFF;
    padding: 0;
    margin: 0 auto;
    width: 1000px;
    font-weight: 400;
    -webkit-text-stroke-width: 0;
    -webkit-font-smoothing: subpixel-antialiased;
}


header {
	font-size: 22px;
}

main h1 {
	font-size: 30px;
	margin-top: 15px;
	margin-bottom: 0;
	color: #333;
}

main h2 {
	font-size: 24px;
	margin: 0;
	font-weight: 400;
	color: #333;
}

h2 + hr{
	background: #333;
	height: 5px;
	width: 970px;
	position: relative;
	right: 15px;
}

main p {
	font-size: 16px;
	text-align: justify;
	width: 970px;
}

footer {
	font-size: 14px;
	background: #505050;
	position: relative;
	margin: 0;
	margin-top: 31px;
	margin-left: -16px;
	width: 1000px;
	height: 60px;
	color: #ccc;
}

footer ul {
	list-style-type: none;
	padding: 20px;
}

footer ul li {
	display: inline-block;
	position: relative;
	left: 336px;
	margin-right: 11px;

}

footer a {
	color: #ccc;
	text-decoration: none;
}

#copyright {
	float: right;
	font-weight: 700;
	margin-right: 20px;
	margin-top: 20px;
}

#language {
	float: left;
	margin: 20px;
}

#logo {
	margin: 0;
	padding: 0;
	content: url(images/logo.png);
	position: relative;
	left: -15px;
	float: left;
}

.separator {
	background: #333;
	width: 5px;
	height: 45px;
	float: left;
	margin: 0;
	padding: 0;
	position: relative;
	top: 10px;
	left: -15px;
}

#headerTitle {
	margin: 0;
	padding: 15px 0;
	font-weight: 700;
	position: relative;
	left: -5px;
}

#search {
	clear: both;
	background: #0078D7;
	margin: 0;
	padding: 0;
	width: 1000px;
	position: relative;
	left: -16px;
	height: 65px;
	text-align: center;
}

#search input {
	width: 400px;
	height: 35px;
	margin-top: 15px;
}